<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}Example.com{% endblock %}</title>

    {% block css %}
    {% endblock %}

    {% for file in get_css() %}
        <link href="{{ file }}" rel="stylesheet">
    {% endfor %}
</head>

<body>

{% block content %}{% endblock %}

<script>
    var app = {
        vars: {{ app.vars|json_encode|raw }}
    };
</script>

{% block js %}
    {{ add_vendor_js('angular/angular.min') }}
{% endblock %}

{% for file in get_js() %}
    <script src="{{ file }}"></script>
{% endfor %}
</body>
</html>
