<form role="{% block role %}{% endblock %}" method="{% block method %}{% endblock %}">
    {% block fields %}{% endblock %}

    <div class="alert alert-danger hide" role="error-message"></div>
    <div class="alert alert-success hide" role="success-message"></div>

    {% block submit %}{% endblock %}
</form>